# Sal-square
Он принимает целое число в качестве входных данных и выводит его в квадратном виде.

## Установка
'''pip install sal-square'''

## Как им пользоваться?
Откройте терминал и введите квадрат, а затем введите целое числоОткройте терминал и введите квадрат, а затем введите целое число

##Лицензия
© 2023 Salakhova Rumiya

